<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="fr" data-th-fragment="layout(title,main)" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title data-th-replace="${title}"></title>
    <link rel="shortcut icon" type="image/x-icon" data-th-href="@{/img/logo.webp}" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
            <div>
                <button><a th:href="@{/encheres/connexion}">
                    <img th:src="@{/img/logo.webp}" alt="logo enchères" height="150" width="150"/>
                </a></button>
            </div>

            <!-- Lien pour "Se connecter" -->
            <li data-th-if="${!#authorization.expression('isAuthenticated()')}">
                <a th:href="@{/login}">Se connecter</a>
            </li>

            <!-- Formulaire pour "Se déconnecter" -->
            <li data-th-if="${#authorization.expression('isAuthenticated()')}">
                <form th:action="@{/encheres/logout}" method="post" style="display:inline;">
                    <button type="submit" style="background:none;border:none;color:blue;text-decoration:underline;cursor:pointer;">
                        Se déconnecter
                    </button>
                </form>
            </li>
        </nav>

    </header>

    <main data-th-replace="${main}"></main>

</body>


</html>