<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="fr" data-th-fragment="layout(title,main)" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title data-th-replace="${title}"></title>
    <link rel="stylesheet" data-th-href="@{/css/style.css}">
    <link rel="stylesheet" data-th-href="@{/css/detail.css}">
    <link rel="shortcut icon" type="image/x-icon" data-th-href="@{/img/logo.webp}" />
</head>

<body>
<header>
    <nav>
        <ul>
            <li><button><a th:href="@{/encheres/connexion}"> <img th:src="@{/img/logo.webp}" alt="logo enchères" height="150" width="150"/></a></button></li>
            <li><a th:href="@{/encheres/connexion}">S'inscrire - Se connecter</a></li>
        </ul>
    </nav>
</header>

<main data-th-replace="${main}"></main>

</body>


</html>