.createEnchere {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.imageArticle {
    height: 20vh;
    width: 10vw;
    background-color: #121212;
}

.createArticle {
    height: 70vh;
    width: 70vw;justify-content: center;display: flex;
}
.retrait{
    border: solid;width: 20vw;padding-left: 5px;padding-top: 5px; margin-bottom: 20px;
}
.formulaireVente{
    display: flex;flex-direction: column;justify-content: center;
}
.boutonsActions{
    display: flex;gap: 15px;flex-direction: row;
}
.boutonsActions1{
    width: 20vw;height: 10vh;
}
.TitreVente{
    font-weight: bold;font-size: x-large;text-align: center;
}