/* Couleurs de base */
:root {
    --primary-color: #3498db; /* Bleu */
    --secondary-color: #2ecc71; /* Vert */
    --background-color: #f8f9fa; /* Gris clair */
    --text-color: #333; /* Noir */
    --card-background: #fff; /* Blanc */
    --card-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Thème sombre */
[data-theme="dark"] {
    --primary-color: #1abc9c; /* Turquoise */
    --secondary-color: #9b59b6; /* Violet */
    --background-color: #2c3e50; /* Bleu foncé */
    --text-color: #ecf0f1; /* Blanc */
    --card-background: #34495e; /* Gris foncé */
    --card-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Réinitialisation des styles par défaut */
body, h1, h2, h3, p, form, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

/* En-tête */
header {
    background-color: var(--primary-color);
    color: white;
}

/* Cartes */
.card {
    background-color: var(--card-background);
    border: none;
    border-radius: 10px;
    box-shadow: var(--card-shadow);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Boutons */
.btn-primary {
    background-color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #2980b9; /* Bleu plus foncé */
}
.content{
    flex : 1;
}

/* Pied de page */
footer {
    background-color: #343a40;
    color: white;
    padding: 10px;
}

footer a {
    color: var(--primary-color);
    text-decoration: none;
}

footer a:hover {
    color: #2980b9;
}
.member-name-link{
 
    margin-right: 20px;
    text-decoration: none;
    color: white;
}