header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;background-color: aliceblue;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;background-color: aliceblue;
}

h1 {
    display: flex;
    justify-content: center;
}

.Articles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: solid;
}

.dansArticles {
    height: 15vh;
    width: 20vw;
    border: solid;
}

.Filtres {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 70px
}

.Filtres1 {
    height: 15vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.RechercherFiltre {
    height: 15vh;
    width: 20vw
}

.catégorie {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

select {
    width: 15vw
}

.rechercherFiltreBouton {
    width: 25vw;
    height: 10vh;
}

.barrerecherche {
    width: 20vw;
    height: 3vh;
    border-radius: 6px;
    border: solid;
    border-width: 2px;
}

.selectionbouton {
    width: 17vw;
    height: 3vh;
}



.imageArticle {
    height: 20vh;
    width: 10vw;
    background-color: #121212;
}

.createArticle {
    justify-content: center;
    display: flex;
}

.retrait {
    border: solid;
    width: 20vw;
    padding-left: 5px;
    padding-top: 5px;
    border-radius: 10px;
    text-align: end;
    padding-right: 50px;
}
.retrait h3{
    text-align: center;
}

.formulaireVente {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boutonsActions {
    display: flex;
    gap: 15px;
    flex-direction: row;
    justify-content: center;
}

.boutonsActions1 {
    width: 20vw;
    height: 10vh;
    background-color: beige;
}

.TitreVente {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}
.formulaireVentes2{
    display: flex;flex-direction: row;gap: 30px;margin-top: 20px;margin-bottom: 20px;
}
.Form1{
    border: solid;border-radius: 10px;
}
.imageLogo{
    background-color: transparent;border: none;
}