<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" data-th-href="@{/css/detail.css}">
</head>
<body>
<header>

    <div class="createEnchere">
        <section class="imageArticle">Image</section>
        <section class="createArticle">
            <h1>Nouvelle Vente</h1>
            <form>
                <p>Article<select>
                    <option>Type d'article</option>
                    <option>Informatique</option>
                    <option>Ameublement</option>
                    <option>Vetement</option>
                    <option>Sport & Loisir</option>
                </select></p>
                <p>Photo de l'article <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg"/>
                </p>
                <p>Mise à prix</br><input type="number" id="age" min="0" max="100" step="1" value="17" onchange="changerAge()"
                </p>
                <p><input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01"
                          max="2018-12-31"/>
                </p></form>
        </section>

    </div>
</header>
</body>
</html>