<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="../static/js/script.js"></script>
</head>
<body>
<button class="theme-toggle">
    <i class="fas fa-moon"></i> <!-- Icône de lune pour le thème sombre -->
</button>
<div class="container mt-5">
    <h2>Connexion</h2>
    <form th:action="@{/connexion}" method="post">
        <!-- Pseudo -->
        <div class="form-group">
            <label for="pseudo">Pseudo :</label>
            <input type="text" class="form-control" id="pseudo" name="username" required>
        </div>

        <!-- Mot de passe -->
        <div class="form-group">
            <label for="motDePasse">Mot de passe :</label>
            <input type="password" class="form-control" id="motDePasse" name="password" required>
        </div>

        <!-- Bouton de connexion -->
        <button type="submit" class="btn btn-primary">Se connecter</button>
    </form>

    <!-- Lien vers la page d'inscription -->
    <p class="mt-3">Pas encore inscrit ? <a th:href="@{/inscription}">Inscrivez-vous ici</a>.</p>

    <!-- Message d'erreur -->
    <div th:if="${param.error}" class="alert alert-danger mt-3">
        Pseudo ou mot de passe incorrect.
    </div>

    <!-- Message de déconnexion -->
    <div th:if="${param.logout}" class="alert alert-success mt-3">
        Vous avez été déconnecté avec succès.
    </div>
</div>
</body>
</html>